.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  border-width: 10px;
  background-color:rgb(0, 255, 170); 
  border-style:groove;
  border-color:midnightblue;
}
body{
  text-align: center;
}